#fuente-courier {
	-fx-font: 50px "Courier";
}

#error {
  -fx-text-fill: red;
}

.label, .text-field, .button {
	-fx-font: 24px "Arial";
}

.text-area {
  -fx-font: 22px "Gothic";
}

.root {
	-fx-padding: 20;
	-fx-spacing: 10;
	-fx-alignment: CENTER;
}
